<h2>Follow Users</h2>

<% if @user.following.count != 0 %>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @user.following.each do |user| %>
    <tr>
      <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
      <td><%= user.name %></td>
      <td>フォロー数：<%= user.following.count %></td>
      <td>フォロワー数：<%= user.followers.count %></td>
      <td><%= link_to "show", user_path(user.id) %></td>
    </tr>
    <% end %>
  </tbody>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>